#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    /*background-color: #008a00;*/
    background: linear-gradient(180deg, #008a00, #006b00);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
